In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("index01.csv")

In [10]:
df.iloc[:,2]

0       8
1       0
2       0
3       0
4       0
       ..
252     0
253     6
254     0
255    45
256     6
Name: C, Length: 257, dtype: int64

In [18]:
df.iloc[:,-2:]

     K  L
0    0  3
1    0  3
2    0  3
3    0  3
4    0  3
..  .. ..
252  0  3
253  0  3
254  0  3
255  0  3
256  0  3

[257 rows x 2 columns]

In [19]:
df.iloc[-10:,-2:]

     K  L
247  0  3
248  0  3
249  0  3
250  0  3
251  0  3
252  0  3
253  0  3
254  0  3
255  0  3
256  0  3